<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="2Columnas.css" rel="stylesheet">
        <style>  
        #MIO  {         
            display: none;
         }
         
        .book-cover {
          width: 50px; /* adjust the width to your liking */
          height: 70px; /* adjust the height to your liking */
          object-fit: cover; /* keep the image aspect ratio */
          border-radius: 5px; /* add some rounded corners */
          margin: 5px; /* add some margin around the image */
        }         
         
         .box{
            width: 300px;
            height: 300px;
            overflow: hidden;
          }
          
          .box img{
            width: 100%;
            height: auto;
          }
          
           @supports(object-fit: cover){
            .box img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
        }
        </style>
        <script src="autor.js"></script>
    </head>
    <body>
        <div class="login-wrap">
            <div class="login-html">
                <div class="group">
                <label  class="tab">Autor</label>
                </div>
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Buscar</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Agregar</label>
                <div class="login-form">
                  

                        <div class="sign-in-htm">
                           <form method="POST" action="/busquedaAutor/buscar">
                            
                            <div id = "MIO">  
                                <input type="text" name="idUsuarioBuscar" id="idUsuarioBucar" >    
                                <input type="text" name="nombre" id="nombre" >  
                             </div>
                            
                            <div class="group">
                                <label for="user" class="label"> Nombre del autor </label>
                                <input name="autorabuscar" type="text" class="input" >
                            </div>
                            
                            <div class="group">
                                 <input type="submit" class="button" name="boton"  value="buscar autor" >
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Id del autor</label>
                                <Label id="idAutorB" ></label> <br>
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Nombre del autor</label>
                                <Label id="nombreB" ></label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Mejor libro</label>
                                <Label id="mejorlibroB" > </label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Fecha de Nacimiento</label>
                                <Label id="fechaNacimientoB" > </label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Fecha de fallecimiento</label>
                                <Label id="fechaFallecimientoB" >  </label><br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Temas</label>
                                <Label id="biografiaB" > </label> <br>
                            </div> 
                            
                            <div class="group">
                                <div class="box" >
                                    <img  id="img" src="user.png">
                                </div>
                            </div>
                          
 
                            <div class="hr"></div>
                            </form>
                            <div class="group">       
                                    <button class="button" onclick="redireccionarMenu()">Menu</button>
                            </div>
                        </div>
                        
                    <div class="sign-up-htm">              
                      <form id="formularioGuardar" method="POST" action="/AutorFavorito">
                            <!-- ... -->
                            <div class="group">
                                <label for="user" class="label"> AGREGAR AUTOR FAVORITO:</label>
                            </div>

                            <div class="group">
                                <label for="Codigo" class="label" > Codigo del autor </label>
                                <input type="text" id="Codigo" class="input" />
                            </div>

                            <div class="group">
                                <button type="button" onclick="recoger()" class="button" > Buscar </button> <br>
                            </div>

                            <div id="MIO"> 
                                <input type="hidden" name="idUsuario" id="idUsuario" value="${idUsuario}" > 
                                <input type="hidden" name="nombre" id="nombre" value="${nombre}" >  
                                <input type="hidden" name="idAutor" id="idAutor" value="${idAutor}" > 
                                <input type="hidden" name="nombreAutor" id="nombreAutor" value="${nombreAutor}" > 
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Id del autor</label>
                                <Label id="idAutorL" ></label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Nombre del autor</label>
                                <Label id="nombreL" ></label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Mejor libro</label>
                                <Label id="mejorlibroL" > </label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Fecha de Nacimiento</label>
                                <Label id="fechaNacimientoL" > </label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Fecha de fallecimiento</label>
                                <Label id="fechaFallecimientoL" >  </label><br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Biografia </label>
                                <Label id="biografiaL" > </label> <br>
                            </div>
                          
                            <div class="group">
                                <div class="box" >
                                    <img  id="img1" src="user.png">
                                </div>
                            </div>
                          
                            <div class="group">
                                <button type="button" class="button" onclick="agregarAutorFavorito()">Agregar autor a favoritos</button>
                            </div>

                            
                            <div class="hr"></div>                                                       
                        </form>
                        <div class="group">       
                                    <button class="button" onclick="redireccionarMenu()">Menu</button>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </body>
</html>