<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="2Columnas.css" rel="stylesheet">
    <style>  
        #MIO {         
            display: none;
        }
         
        .buttonMIO {
            background-color: #FF0000;
            color: #fff;
            border-radius: 15px;
        }
         
        .box {
            width: 128px;
            height: 193px;
            overflow: hidden;
        }
          
        .box img {
            width: auto;
            height: auto;
        }
          
        @supports(object-fit: cover) {
            .box img {
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    </style>
    <script src="busquedaLibros.js"></script>
</head>
<body>
    <div class="login-wrap">
        <div class="login-html">
            <div class="group">
                <label class="tab">Busqueda de libros</label>
            </div>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">Buscar</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" onclick="mostrarHistorialFavoritos()">
            <label for="tab-2" class="tab">Mis favoritos</label>

            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Escribe titulo / autor:</label>
                        <input name="tituloAbuscar" id="tituloAbuscar" type="text" class="input">
                    </div>

                    <div class="group">
                        <button class="button" onclick="BuscarPorTitulo()">Buscar libro por titulo</button>
                    </div>

                    <div class="group">
                        <button class="button" onclick="BuscarPorAutor()">Buscar libro por autor</button>
                    </div>

                    <div class="group">
                        <button class="button" onclick="BuscarPorPalabra()">Buscar por palabra clave</button>
                    </div>

                    <form method="post" action="/api/libros/nuevoFavorito">
                        <div id="MIO">
                            <input type="hidden" name="idUsuario" id="idUsuario">
                            <input type="text" name="Titulo" id="Titulo">
                            <input type="text" name="Autor" id="Autor">
                            <input type="text" name="ClaveLibro" id="ClaveLibro">
                            <input type="text" name="ClaveAutor" id="ClaveAutor">
                            <input type="text" name="imagen" id="imagen">
                            <input type="text" name="nombre" id="nombre">
                            <input type="text" name="Primerapublicacion" id="Primerapublicacion">
                            <img id="img1" src="book.png">
                        </div>
                        <div class="hr"></div>
                    </form>

                    <div class="group" align="center">
                        <table border="0" width="100%" id="tabla">
                            <thead>
                                <tr>
                                    <th align="center"><div class="label">Imagen del libro</div></th>
                                    <th align="center"><div class="label">Titulo</div></th>
                                    <th align="center"><div class="label">Autor</div></th>
                                    <th align="center"><div class="label">Clave Libro</div></th>
                                    <th align="center"><div class="label">Clave Autor</div></th>
                                    <th align="center"><div class="label">Primera publicacion</div></th>
                                    <th align="center"><div class="label">Acciones</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán las filas dinámicamente -->
                            </tbody>
                        </table>
                    </div>

                    <div class="group">
                        <button class="button" onclick="redireccionarMenu()">Menu</button>
                    </div>
                </div>

                <div class="sign-up-htm">
                    <div class="group" align="center">
                        <table border="0" width="100%" id="tablaH">
                            <thead>
                                <tr>
                                    <th align="center"><div class="label">Imagen del libro</div></th>
                                    <th align="center"><div class="label">Titulo</div></th>
                                    <th align="center"><div class="label">Autor</div></th>
                                    <th align="center"><div class="label">Clave Libro</div></th>
                                    <th align="center"><div class="label">Clave Autor</div></th>
                                    <th align="center"><div class="label">Primera publicacion</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se agregarán las filas dinámicamente -->
                            </tbody>
                        </table>
                    </div>

                    <div class="group">
                        <button class="button" onclick="redireccionarMenu()">Menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>                         