<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="2Columnas.css" rel="stylesheet">
    </head>
    <body>
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked> <label for="tab-1" class="tab">Bienvenido </label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>              
                <div class="login-form">                   
                    <div class="sign-in-htm">  
                        
                        <div class="group">
                            <label  class="tab" id="nombre"></label>
                            <label  class="tab" id="id" ></label>
                        </div>
                        
                        <div class="group">
                            <button class="button" onclick="redireccionarAutores()">Autores</button>
                        </div>
                        
                        <div class="group">
                            <button class="button" onclick="redireccionarRecomendacionAutor()">Recomendacion por Autor</button>
                        </div>
                        
                        <div class="group">
                            <button class="button" onclick="redireccionarRecomendaciomTema()">Recomendacion por tema</button>
                        </div>
                        
                        <div class="group">
                            <button class="button" onclick="redireccionarbusquedaLibros()">Libro</button>
                        </div>

                        <div class="group">       
                            <button class="button" onclick="location.href='http://localhost:8080/Nombre_Personalizado_De_Mi_Proyecto/login.html'">Cerrar sesion</button>
                        </div>

                        <div class="hr"></div>
                    </div>                    
                </div>
            </div>
        </div>  
    <script src="menu.js"></script>
    </body>
</html>