<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="3Columnas.css" rel="stylesheet">
        <style>  
        #MIO  {         
            display: none;
         }
         
         .box{
            width: 350px;
            height: 550px;
            overflow: hidden;
          }
          
          .box1{
            width: 128px;
            height: 193px;
            overflow: hidden;
          }
          
          .box img{
            width: 100%;
            height: auto;
          }
          
          .box1 img{
            width: auto;
            height: auto;
          }
          
           @supports(object-fit: cover){
            .box img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
        }
        </style>
	<script src="PreferenciaTema.js"></script>
    </head>
    <body>
        <div class="login-wrap">
            <div class="login-html">
                <div class="group">
                <label  class="tab">Recomendacion por tema</label>
                </div>
                <input id="tab-1" type="radio" name="tab" class="sign-in" ><label for="tab-1" class="tab">Agregar Tema</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked>   <label for="tab-2" class="tab">Mis Temas</label>
                <input id="tab-3" type="radio" name="tab" class="sign-up1">  <label for="tab-3" class="tab">Historial</label> 
               
                <div class="login-form">
                  
                    
                    <div class="sign-in-htm">
                        <form method="post" action = "/Temas">
                            <div class="group">
                                <label for="user" class="label" > Selecciona un tema :</label> 
                                <select name="listaDinamicaTemas" id="listaDinamicaTemas" onchange="cambioSelect()" class="input">
                                    <!-- opciones se agregarán dinámicamente con JavaScript -->
                                </select> <br>           
                            </div>

                            <div id = "MIO"> 
                                <input type="text" name="idUsuario" id="idUsuario" >  
                                <input type="text" name="idTema" id="idTema" > 
                                <input type="text" name="tema" id="tema" > 
                            </div>  
                            
                            <div class="group">
                                <button type="button" class="button" onclick="registrarGustoFavoritoUsuario()">Agregar Tema</button>
                            </div>

                            <div class="hr"></div>
                        </form>   
                        <div class="group">       
                                <button class="button" onclick="redireccionarMenu()">Menu</button>
                        </div>
                    </div>
                     

                    <div class="sign-up-htm">
                    <form method="post" action = "/Temas/registraGusto" >                        
                           
                           <div class="group">
                                    <label for="user" class="label" > Selecciona un tema :</label> 
                                    <select name="selectGusto" id="selectGusto" onchange="cambioSelectGusto()" class="input">
                                        <!-- opciones se agregarán dinámicamente con JavaScript -->
                                    </select> <br>     
                            </div>
                                                 
                            <div id = "MIO"> 
                                    <input type="text" name="idUsuario1" id="idUsuario1" >  
                                    <input type="text" name="temaUsuario" id="temaUsuario" > 
                                    <input type="text" name="claveTema" id="claveTema" > 
                            </div> 

                            <div class="group">
                                 <input type="submit" class="button" name="boton"  value="Recomiendame" > 
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Titulo</label>
                                <Label id="tituloR" ></label> <br>
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Nombre del autor</label>
                                <Label id="nombreR" ></label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Id Libro</label>
                                <Label id="idLibroR" > </label> <br>
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Id Autor</label>
                                <Label id="idAutorR" > </label> <br>
                            </div>
                        
                            <div class="group">
                               <label for="pass" class="label">Tema</label>
                               <Label id="temaR" > </label> <br>
                           </div>
                        
                            <div class="group">
                                <div class="box" >
                                    <img  id="img" src="book.png">
                                </div>
                            </div>
                        
                        
                            <div class="hr"></div>                                                       
                        </form>
                        <div class="group">       
                                <button class="button" onclick="redireccionarMenu()">Menu</button>
                        </div>
                    </div> 
                    
                    <div class="sign-up-htm1">
                        <div class="group" align="center">
                                <table border="0" width="100%" id="tabla">

                                   <td align="center">
                                       <div class="label" >Titulo</div>
                                   </td>           

                                   <td align="center">
                                       <div class="label">Nombre del autor</div>
                                   </td>

                                   <td align="center">
                                       <div class="label">Tema</div>
                                   </td>

                                   <td align="center">
                                       <div class="label">Id libro</div>
                                   </td>

                                   <td align="center">
                                       <div class="label">Id autor</div>
                                   </td>


                                   <td align="center">
                                       <div class="label">Fecha de recomendacion</div>
                                   </td>
                                </table>
                            </div>
                         <div class="hr"></div>  
                        <div class="group">       
                                <button class="button" onclick="redireccionarMenu()">Menu</button>
                        </div>
                    </div> 
                    
                    
                </div>
            </div>
        </div>
    </body>
</html>
