<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="2Columnas.css" rel="stylesheet">
        <style>  
        #MIO  {         
            display: none;
         }
         
         .box{
            width: 300px;
            height: 300px;
            overflow: hidden;
          }
          
          .box img{
            width: 100%;
            height: auto;
          }
          
           @supports(object-fit: cover){
            .box img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
        }
        </style>
        <script src="RecomendacionAutor.js"></script>
    </head>
    <body>
        <div class="login-wrap">
            <div class="login-html">
                <div class="group">
                <label  class="tab">Recomendacion por autor</label>
                </div>
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Recomiendame</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" onclick="mostrarHistorial()"><label for="tab-2" class="tab">Historial</label>
                <div class="login-form">
                  
                    
                        <div class="sign-in-htm">
                            <form method="POST" action = "/busquedaAutor/Recomienda" > 
                            <div class="group">
                                <label for="user" class="label" > Selecciona un autor :</label> 
                                <select name="cliente" id="cliente" onchange="cambioSelect()" class="input">
                                    <option>Selecciona un autor </option>
                                </select> <br>           
                            </div>
                            
                            <div id = "MIO"> 
                                <input type="text" name="idUsuario" id="idUsuario">
                                <input type="text" name="idAutor" id="idAutor" > 
                                <input type="text" name="nombreAutor" id="nombreAutor" > 
                                <input type="hidden" name="nombre" id="nombre" value="${nombre}">
                            </div> 
                            
                            <div class="group">
                                 <input type="submit" class="button" name="boton"  value="Recomiendame" > 
                            </div>
                            
                             <div class="group">
                                <label for="pass" class="label">Titulo</label>
                                <Label id="tituloR" ></label> <br>
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Nombre del autor</label>
                                <Label id="nombreR" ></label> <br>
                            </div>
                          
                            <div class="group">
                                <label for="pass" class="label">Id Libro</label>
                                <Label id="idLibroR" > </label> <br>
                            </div>
                            
                            <div class="group">
                                <label for="pass" class="label">Id Autor</label>
                                <Label id="idAutorR" > </label> <br>
                            </div>
                                
                            <div class="group">
                                <div class="box">
                                    <img  id="imgLibro" src="book.png">
                                </div>
                                <div class="box" >
                                    <img  id="img" src="book.png">
                                </div>
                            </div>

                            <div class="hr"></div>
                            </form>
                            <div class="group">       
                                    <button class="button" onclick="redireccionarMenu()">Menu</button>
                            </div>
                        </div>
                     
                        <div class="sign-up-htm">
                           <form method="POST" action="/AutorFavorito">

                               <div class="group">
                                   <label for="user" class="label">Historal de recomendaciones</label>
                               </div>

                               <div class="group" align="center">
                                   <table border="0" width="100%" id="tabla-historial">
                                       <tr>
                                           <td align="center">
                                               <div class="label">Imagen del Libro</div>
                                           </td>
                                           <td align="center">
                                               <div class="label">Título</div>
                                           </td>
                                           <td align="center">
                                               <div class="label">Autor</div>
                                           </td>
                                           <td align="center">
                                               <div class="label">Id libro</div>
                                           </td>
                                           <td align="center">
                                               <div class="label">Id autor</div>
                                           </td>
                                           <td align="center">
                                               <div class="label">Fecha de recomendación</div>
                                           </td>
                                       </tr>
                                   </table>
                               </div>
                               <div class="hr"></div>
                           </form>
                           <div class="group">
                               <button class="button" onclick="redireccionarMenu()">Menu</button>
                           </div>

                    </div>              
                </div>
            </div>
        </div>
    </body>
</html>